[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
	branch = main
[submodule "content/posts/private"]
	path = content/posts/private
	url = git@github.com:WvW-vOiDs/private-blog.git
